
/*

   mTCP Dns.cfg
   Copyright (C) 2008-2013 Michael B. Brutman (mbbrutman@gmail.com)
   mTCP web page: http://www.brutman.com/mTCP


   This file is part of mTCP.

   mTCP is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   mTCP is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with mTCP.  If not, see <http://www.gnu.org/licenses/>.


   Description: Configuration file for Dnstest

   Changes:

   2011-05-27: Initial release as open source software

*/




#ifndef CONFIG_H
#define CONFIG_H

// DNS resolver test Config.H
//
// Each application should have a configuration file like this to set
// compile-time options.
//
// Note:
//  - Use only #defines here
//  - All times are in milliseconds


// Global options, can be overridden locally.  Use for setting tracing
// and torture testing/consistency testing.

#include "Global.Cfg"



// Major options to include/exclude
//
#define COMPILE_UDP
#define COMPILE_DNS


// Tracing support
//
// If we didn't set it globally then make sure it is turned off locally.

#if !defined(NOTRACE)

#undef NOTRACE
// #define NOTRACE

#endif




#define PKT_DUMP_BYTES (256)



// Packet Layer defines
//
#define PACKET_BUFFERS      (10)   // Number of incoming buffers
#define PACKET_BUFFER_LEN (1514)   // Size of each incoming buffer


// ARP configuration defines
//
#define ARP_MAX_ENTRIES  (10)   // Size of ARP cache
#define ARP_MAX_PENDING   (5)   // Max number of pending requests
#define ARP_RETRIES       (3)   // Total number of attempts to make

#define ARP_TIMEOUT   (500ul)   // Time between retries



// UDP configuration defines
//
#ifdef COMPILE_UDP
#define UDP_MAX_CALLBACKS (5)
#endif


// DNS
//
#ifdef COMPILE_DNS

// Icky, but this allows us to take what is normally hard coded
// and make it parameterized for this application.

extern unsigned char DNSRecursion;
extern unsigned long DNSTimeout;

#define DNS_MAX_NAME_LEN     (128)
#define DNS_MAX_ENTRIES        (2)        // 7 bits only (max 127)
#define DNS_HANDLER_PORT      (57)
#define DNS_RECURSION_DESIRED  (DNSRecursion) // Variable, set by user

#define DNS_INITIAL_SEND_TIMEOUT   (500ul)   //  0.5 seconds
#define DNS_RETRY_THRESHOLD       (2000ul)   //  2 seconds
#define DNS_TIMEOUT           (DNSTimeout)   //  Variable, set by user

#endif




#endif
